{% extends "schoolapp/index.html" %}

{% block titulo %}

{% endblock titulo %}

{% block contenido %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Hola, soy Genaro Arce</h1>
                    <p class="card-text">Tengo 18 años y soy argentino. Me especializo como desarrollador backend y tengo experiencia en el desarrollo web.</p>
                    <p class="card-text">Manejo tecnologías como Python y JavaScript, y constantemente busco aprender y mejorar mis habilidades a través de cursos y estudio autodidacta.</p>
                    <div class="mt-5">
                        <a href="https://github.com/GenaroArce" class="btn btn-outline-primary btn-lg">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
